#container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: blue;
    padding: 10px;
    width: 1200px;
}
h1
{
    font-size: xx-large;

}
input[id=pole]
{
background-color: coral;
}
input[id=pole2]
{
background-color: coral;
}
input[type=button]
{
background-color: darkred;
}